POSTGRES_USER
POSTGRES_PASSWORD
POSTGRES_DB

DATABASE_URL

CASSANDRA_CONTACT_POINTS
CASSANDRA_PORT
CASSANDRA_KEYSPACE

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_MESSAGE_ACCEPTED_TOPIC=discord.message.accepted.v1